main{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-content: center; 
    width: 1000px;
    height: 500px;
    background-color: white;
}

main div span{
    gap: 100px;
    margin-left: 20px;
}

main div h1{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Open Sans", sans-serif;
    
}

main div p{
    margin-left: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 20;
    font-style: normal;
}

.img{
    min-width: 450px; 
    max-height: 500px 
}